.img-header {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 240%;
    margin-top: 10px;
    margin-bottom: 20px;
    // padding: 0px 30px;
    
    // color: var(--primary-text-color);

    // .img-wrapper {
    //     overflow: visible;
    // }
}